@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;
  color: var(--text-primary);
  background-color: var(--bg-primary);

  /* Spacing */
  --horizontal-gutter: theme("space.8");

  /* Theme */
  --clr-primary: theme("colors.blue.600");
  --clr-secondary: theme("colors.green.700");

  --bg-primary: theme("colors.white");

  --bg-brand: linear-gradient(to bottom, theme("colors.blue.400"), theme("colors.sky.300"), theme("colors.blue.400"));

  --text-primary: theme('colors.black');
}

body {
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-primary: theme("colors.blue.700");
    --clr-secondary: theme("colors.green.400");

    --bg-primary: theme("colors.gray.700");
    --bg-site-banner: theme("colors.slate.950");
    --bg-brand: linear-gradient(to bottom, theme("colors.slate.900"), theme("colors.blue.950"), theme("colors.slate.900"));

    --text-primary: theme('colors.white');
  }
}
