@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  color: var(--text-primary);
  background-color: var(--bg-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --clr-primary: theme("colors.blue.400");

  --bg-primary: theme("colors.white");
  --bg-site-banner: theme("colors.blue.100");
  --bg-primary-gradient: linear-gradient(to bottom, theme("colors.sky.400"), theme("colors.cyan.200"), theme("colors.sky.400"));

  --text-primary: theme('colors.black');
}

body {
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-primary: theme("colors.blue.700");

    --bg-primary: theme("colors.gray.700");
    --bg-site-banner: theme("colors.slate.950");
    --bg-primary-gradient: linear-gradient(to bottom, theme("colors.slate.900"), theme("colors.blue.950"), theme("colors.slate.900"));

    --text-primary: theme('colors.white');
  }
}
